
text {
  font: 10px sans-serif;
}

tspan:last-child {
  font-size: 9px;
  fill-opacity: 0.8;
}

.node rect {
  shape-rendering: crispEdges;
}

.node--hover rect {
  stroke: #000;
}

.hidden {
  display: none;
}

div.d3_partitionR_tooltip {
  background-color: #fff;
  padding: 7px;
  text-shadow: #f5f5f5 0 1px 0;
  font: 15px Helvetica Neue;
  border: 2.5px solid;
  border-color: black;
	border-radius: 3px;
  opacity: 0.95;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px;

}
